<!DOCTYPE html>
<html data-ng-app="app">
  <head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Stylesheet-->
  <link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/css/core.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/css/responsive.css">
  <link href="stylesheets/css/font-awesome.css" rel="stylesheet">
  <!--Jquery-->
  <script type="text/javascript" src="lib/jquery.js"></script>
  <script type="text/javascript" src="lib/bootstrap.js"></script>
  
  
</head>

<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/lib/angular-adaptive-speech.js"></script>


<script src="lib/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="lib/ui-bootstrap-tpls-0.12.0.min.js"></script>


<script src="/javascripts/app.js"></script>
<script src="/javascripts/controller.js"></script>
<script src="/javascripts/services.js"></script>
  <body id="">
    <div data-ui-view=""></div>
  </body>
</html>