<header class="header">
	<div class="container">
	  <div class="row">
		<div class="col-xs-12 col-sm-3 col-md-4"><a id="logo" href="" ui-sref="home"><img src="images/mail.png"  alt="" title="home" height="120px" width="300px" ></a> </div>
		<div class="col-xs-12 col-sm-9 col-md-8">
			<!--<div class="topPhone pull-right"><p>+1-9876543210</p></div>-->
		  <div class="clearfix"></div>
		  <nav class="navbar marginBottom">
			<div class="container-fluid">
			  <div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			  </div>
			  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <nav>
				<ul class="nav navbar-nav mainNavigation">
					<li class="active"><a href="#" ui-sref="home">Home </a></li>
					<li>
						<a href="" ui-sref="profile">Profile </a>
					</li>
				  <li><a href="" ui-sref="login" ng-click="logout()">logout </a></li>
				</ul>
				</nav>
			  </div>
			</div>
		  </nav>
		</div>
	  </div>
	</div>
	
  </header>
  <!--Header HTML Ends Here--> 
  
  <!-- Content HTML Starts Here-->
  <section class="content">
  <div class="container">
	<div class="row">
	  
	</div>
	  <div class="row">
		<div class="col-lg-12">
		  <h2 class="heading">Email</h2>
		</div>
	  </div>
	  <div class="row">
		<div class="col-xs-12 col-sm-4 col-md-4">
		  <div class="thumbnail borderThumb1"> 
			<div class="caption" ng-controller="popupsCtrl">
				<h4>mail</h4>
				<br>
				<a href="" ng-click="compose()">Compose</a>
				<br>
				<a href="" ng-click="inbo()">Inbox</a>
				<br>
				<a href="" ng-click="tras()">Trash</a>
				<br>
				<a href="" ng-click="sen()">Sent Mail</a>
				<br>
			</div>
		  </div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
		  <div class="thumbnail borderThumb" ng-show="inbox"> 
			<div class="caption" ng-controller="popupsCtrl">
			  <h2>Inbox</h2>
				<p class="txt"></p> 
				<div ng-repeat="x in message.inboxDetails" >
					<input type="checkbox" name="data.chk" ng-model="data.chk" ng-click="tra(x)">
					<p><strong>{{x.subject}} - </strong>{{x.I_Message}} -- from {{x.Sender_Name}}<span>
						<a href="" ng-click="reply(x)">reply</a>
					</span></p>
				</div>
				<div class="notFound">
					<b> <p style="color: red" ng-show="(message.inboxDetails).length == 0">Mail is empty</p></b>
				</div> 
				<button ng-click="del()" class="btn" ng-hide="(message.inboxDetails).length == 0">
					Delete mail</button>
			</div>
			</div>
			
			<div class="thumbnail borderThumb" ng-show="trash"> 
				<div class="caption">
					<h2>Trash</h2>
					<p class="txt"></p> 
					<div ng-repeat="x in trashed" >
					<input type="checkbox" name="data.chk" ng-model="data.chk" ng-click="res(x)">
					<p> {{x.I_Message}} -- from {{x.Sender_Name}}</p>
				</div>
				<div class="notFound">
					<b> <p style="color: red" ng-show="(trashed).length == 0">Trash is empty</p></b>
				</div> 
				<button ng-click="pemDel()" class="btn" ng-hide="(trashed).length == 0">Delete</button>
				<button ng-click="restore()" class="btn" ng-hide="(trashed).length == 0">Restore mail</button>
				</div>
				</div>

				<div class="thumbnail borderThumb" ng-show="sent"> 
					<div class="caption">
						<h2>Sent Mails</h2>
						<p class="txt"></p> 
						<br>
						<div ng-repeat="x in messages.S_Message">

							<p>{{x.message}} - {{x.sent_date | date : "HH:mm:ss, EEE, dd MMM yyyy"}}</p>
						</div>
						 
					</div>
					</div>
		</div>

	</div>
	
   </div>

  </section>
  
  <!--Content HTML Ends Here--> 
  
  <!-- Footer  HTML Starts Here-->
  <div class="footer text-center">
    <a>   Designed by: Mariah</a>
</div>